---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>Did you know that drinking a beer a day...?</h2>
  <p>
    It is good for the heart and general health. Especially if you drink this
    beer in the iconic Kikes Bar. You can also enjoy different distractions like
    babysitting for a day, with a very nice girl called Sara.
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
