---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>My Astro Learning Blog</h1>
    <h2>Did you know that drinking a beer a day...?</h2>
    <p>
      It is good for the heart and general health. Especially if you drink this
      beer in the iconic Kikes Bar. You can also enjoy different distractions
      like babysitting for a day, with a very nice girl called Sara.
    </p>
  </body>
</html>
